# Set
* unorderd (unindexed: can't access elements using an index like list and tupple)
* Mutable 
* collection of unique elements

It is useful for storing distinct items and performing operations like union, intersection, and difference.

## Creating a set
using {} or set()

In [21]:
set1 = {1,6,6,3,8,33,3}
set2 = set([5,55,5,56,57,58,58,57])

print(set1)
print(set2)

{1, 33, 3, 6, 8}
{5, 55, 56, 57, 58}

## Accessing Set Elements
As sets are unorderd , they do not support indexing or slicing. 

we can check the element exists by "in" or "not in"

In [22]:
myset = {5,79,346}
print(79 in myset)
print(1 not in myset)

True
True

## Modifying a set
use .add() to add single element

In [23]:
myset.add(4)
print(myset)

{346, 4, 5, 79}

use .update() to add multiple elements (list, tuple, set)

In [24]:
myset.update([4,5,9,8])
myset.update(("Rdj","srk"))
myset.update({"Sai Pallavi","Sardha Kapoor"})
print(myset)

{'Sardha Kapoor', 4, 5, 8, 9, 'Sai Pallavi', 79, 'srk', 'Rdj', 346}


### Removing Elements

* remove(x): Removes x, raises an error if x is not found.
* discard(x): Removes x, does not raise an error if x is missing.
* pop(): Removes a random element.
* clear(): Removes all elements.

In [25]:
print(myset)

{'Sardha Kapoor', 4, 5, 8, 9, 'Sai Pallavi', 79, 'srk', 'Rdj', 346}

In [26]:
myset.remove(4) # it will give error is 4 is not in the set
myset.discard(55) # No error even if 55 in not in the set

popped = myset.pop() # remove and return a random item

print(myset)
print(popped)

{5, 8, 9, 'Sai Pallavi', 79, 'srk', 'Rdj', 346}
Sardha Kapoor

## Set Operations

### Union (| or .union())

In [27]:
A = {1, 2, 3}
B = {3, 4, 5}
print(A | B)

{1, 2, 3, 4, 5}

In [28]:
print(A.union(B))

{1, 2, 3, 4, 5}

## intersection (& or .intersection())

Returns elements common to both sets.

In [29]:
print(A & B)
print(A.intersection(B))

{3}
{3}

## Difference (- or .difference())
Return elements only in A but not in B

In [30]:
print(A-B)
print(A.difference(B))

{1, 2}
{1, 2}

### Symmetric Difference (^ or .symmetric_difference())
Returns elements not common in both sets.

In [31]:
print(A ^ B)
print(A.symmetric_difference(B))

{1, 2, 4, 5}
{1, 2, 4, 5}

## Set Methods

**Checking Subset & Superset**

* Subset(<=): Checks if all elements of A exist in B
* Superset(>=): Checks if A contains all elements of B
* Disjoint (isdisjoint()): Checks if sets have no common elements

In [38]:
A = {1,2}
B = {2,1,6,8,9,10}

print(A.issubset(B))
print(B.issuperset(A))
print(A.isdisjoint({1,7}))

True
True
False

### Set Comprehensions

In [39]:
squared_set = {x**2 for x in range(1,8)}
print(squared_set)

{1, 4, 36, 9, 16, 49, 25}

### Frozen Set (Immutable Set)

A frozenset is an immutable version of a set

In [40]:
fset = frozenset([1,2,3,4])
print(fset)

frozenset({1, 2, 3, 4})