# More on Tuple

## Functions Returning Multiple Values

In [1]:
def get_cordinates():
    return (11.5,25.7)

x, y = get_cordinates()
print(x,y)

11.5 25.7

### Nesting and Converting Tuples

In [2]:
nested_tuple = (("Physics","Ml","NLP"),(3.6,3.8,3.9))
print(nested_tuple[0][2])
print(nested_tuple[1][1])

NLP
3.8

In [ ]:
#Convertiing between lists and tuples

lst = [5,5,6]

tp1 = tuple(lst)

lst2 = list(tpl)

print(tp1,lst2)

(5, 5, 6) [5, 5, 6]

## Using Tuples as Dictionary Keys

In [5]:
locations ={
    (15.5,77.65): "India",
    (468.654,588): "Srilanka"
}

print(locations)

{(15.5, 77.65): 'India', (468.654, 588): 'Srilanka'}

## Sorting a Tuple

In [6]:
tpp = (24,64,54,464,4964,949,498,4,646,46,46,4,64)
sorted = tuple(sorted(tpp))

print(sorted)

(4, 4, 24, 46, 46, 54, 64, 64, 464, 498, 646, 949, 4964)

#### using zip() to combine Tuple

In [7]:
names = ("Sneha","Divya","Hira","Riya","Kavya")
score = (4.7,4.5,4.2,4.6,4.8)

combined = tuple (zip(names,score))
print(combined)

(('Sneha', 4.7), ('Divya', 4.5), ('Hira', 4.2), ('Riya', 4.6), ('Kavya', 4.8))